body {
  font-family: 'Caveat', cursive;
  color: #440c46;
  background-color: #ffcaf8;
  display: flex;
  align-items: start;
}

div {
  border-radius: 3px;
}

#main {
  display: flex;
  align-items: start;
}

.title {
  font-weight: 600;
}

.editable {
  user-select: none;
  outline: none;
  margin: 7px;
  padding: 10px;
  cursor: pointer !important;
  display: flex;
  justify-content: space-between;
}

.editing {
  background: #f5dff1;
  color: #470344 !important;
  box-shadow:inset 0px 0px 0px 2px #bf02b2;
}

.editing:hover {
  background: rgb(255, 214, 252) !important;
}

.card {
  background: rgb(252, 226, 249);
  border-bottom: 1px solid rgb(249, 216, 241);
  
}

.list {
/*   padding: 7px; */
  min-width: 280px;
  margin: 10px 5px;
  position: relative;
  background: #e3bed9;
  text-align: center;
}


.add-list {
  min-width: 280px;
  margin: 10px 5px;
  position: relative;
  background: rgba(0,0,0,.12);
  color: rgba(171, 37, 142, 0.8);
}

.ghost {
  opacity: .1;
  color: #000;
  background-color: #000;
}

.add-card {
  width: calc(100% - 35px);
  display: inline-block;
  padding: 10px;
  margin-top: 0px;
  color: rgba(171, 37, 142, 0.8);
  text-decoration: none;
/*   border-bottom: 1px solid #dfe1e6; */
}

.add-card:hover {
  background-color: rgba(9,30,66,.13);
}

.del {
  font-weight: 600;
  color: rgb(128, 128, 128);
}

.fa-regular {
  color: blueviolet;
  font-size: 50px;
  display: center;
}

.fa-regular:hover {
  color: rgb(172, 129, 212);
  font-size: 50px;
  
}
.fa-solid {
  color: blueviolet;
  font-size: 50px;
  display: center;
}
.fa-solid:hover {
  color: rgb(172, 129, 212);
  font-size: 50px;
}

.fa-solid{
  color: blueviolet;
  font-size: 50px;
  display: center;
}

.fa-solidhover {
  color: rgb(172, 129, 212);
  font-size: 50px;
}

.fa-brands{
  color: blueviolet;
  font-size: 50px;
  display: center;
}
.fa-brands:hover {
  color: rgb(172, 129, 212);
  font-size: 50px;
}

.fa-solid{
  color: blueviolet;
  font-size: 50px;
  display: center;
}

.fa-solid:hover {
  color: rgb(172, 129, 212);
  font-size: 50px;
}

.fa-solid{
  color: blueviolet;
  font-size: 50px;
  display: center;
}

.fa-solid:hover {
  color: rgb(172, 129, 212);
  font-size: 50px;
}